flows.json
[
    {
        "id": "077db2e5b0bbaca7",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f05b4a0215ec1492",
        "type": "mqtt in",
        "z": "077db2e5b0bbaca7",
        "name": "Food Check",
        "topic": "BarkBox/Distance_Food",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "156eb04cc7ba17ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "ca79d68b8f1a3962",
                "8dffc43d82050a52",
                "269c8e024ff260e2"
            ]
        ]
    },
    {
        "id": "b23c8384faa9cff9",
        "type": "mqtt in",
        "z": "077db2e5b0bbaca7",
        "name": "Water Check",
        "topic": "BarkBox/Distance_Water",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "156eb04cc7ba17ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "d61286d323c20bf7",
                "8dffc43d82050a52",
                "52226c3d8be1ceed"
            ]
        ]
    },
    {
        "id": "ca79d68b8f1a3962",
        "type": "switch",
        "z": "077db2e5b0bbaca7",
        "name": "less than 10%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "8d359849d3f0614d"
            ]
        ]
    },
    {
        "id": "269c8e024ff260e2",
        "type": "ui_gauge",
        "z": "077db2e5b0bbaca7",
        "name": "FoodLevel",
        "group": "639a06e617fdf0e0",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Food Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "d61286d323c20bf7",
        "type": "ui_gauge",
        "z": "077db2e5b0bbaca7",
        "name": "Waterlevel",
        "group": "639a06e617fdf0e0",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Water Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e703e21e6976384",
        "type": "trigger",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "op1": "ON",
        "op2": "ON",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "a804cd87947fe1d0"
            ]
        ]
    },
    {
        "id": "a804cd87947fe1d0",
        "type": "mqtt out",
        "z": "077db2e5b0bbaca7",
        "name": "Time",
        "topic": "BarkBox/Time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "156eb04cc7ba17ed",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "d49953d323ed7d94",
        "type": "ui_toast",
        "z": "077db2e5b0bbaca7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "8d359849d3f0614d",
        "type": "change",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Refill Food Now!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 120,
        "wires": [
            [
                "d49953d323ed7d94"
            ]
        ]
    },
    {
        "id": "7f6a21ee43776860",
        "type": "mqtt in",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "topic": "BarkBox/active",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "156eb04cc7ba17ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "1814d852db56fb15"
            ]
        ]
    },
    {
        "id": "1814d852db56fb15",
        "type": "mqtt out",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "8dffc43d82050a52",
        "type": "debug",
        "z": "077db2e5b0bbaca7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "253e39e89004ef26",
        "type": "change",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Refill Water Now!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "e30914b72838b602"
            ]
        ]
    },
    {
        "id": "52226c3d8be1ceed",
        "type": "switch",
        "z": "077db2e5b0bbaca7",
        "name": "less than 10%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "253e39e89004ef26"
            ]
        ]
    },
    {
        "id": "e30914b72838b602",
        "type": "ui_toast",
        "z": "077db2e5b0bbaca7",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "dccacb729520731b",
        "type": "ui_template",
        "z": "077db2e5b0bbaca7",
        "group": "639a06e617fdf0e0",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body.nr-dashboard-theme md-content {\n        /* background-color: white !important; */\n    }\n    /* Apply box shadow to elements with the class 'layout-column' within '.nr-dashboard-cardpanel' */\n    body nr-dashboard-cardpanel{\n         /* box-shadow: 10px 10px 5px #000000; */ */\n        /* background-color: rgb(100,0,0); */\n    }\n    .nr-dashboard-theme ui-card-panel {\n        /* background-color: rgb(100,0,0); */\n    \n        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;\n    }  \n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fc89b1de4fb5db25",
        "type": "ui_button",
        "z": "077db2e5b0bbaca7",
        "name": "Manual Water",
        "group": "639a06e617fdf0e0",
        "order": 4,
        "width": "6",
        "height": "6",
        "passthru": false,
        "label": "Water Now!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "BarkBox/Water",
        "topicType": "str",
        "x": 860,
        "y": 520,
        "wires": [
            [
                "157da44ebf302d81"
            ]
        ]
    },
    {
        "id": "b1d570656c24f44f",
        "type": "ui_button",
        "z": "077db2e5b0bbaca7",
        "name": "Manual Food",
        "group": "639a06e617fdf0e0",
        "order": 5,
        "width": "6",
        "height": "6",
        "passthru": false,
        "label": "Food Now!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "BarkBox/Food",
        "topicType": "str",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "faab5872c054eb3c"
            ]
        ]
    },
    {
        "id": "157da44ebf302d81",
        "type": "mqtt out",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "topic": "BarkBox/Water",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "156eb04cc7ba17ed",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "faab5872c054eb3c",
        "type": "mqtt out",
        "z": "077db2e5b0bbaca7",
        "name": "",
        "topic": "BarkBox/Food",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "156eb04cc7ba17ed",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "156eb04cc7ba17ed",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "639a06e617fdf0e0",
        "type": "ui_group",
        "name": "Level",
        "tab": "7045d0a58c7f8204",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": true,
        "className": ""
    },
    {
        "id": "7045d0a58c7f8204",
        "type": "ui_tab",
        "name": "BarkBox",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]